.sell__car{
    margin-top: 100px;
    padding: 0 30px;
    padding-bottom: 50px;
}

.sell__car-img{
    padding: 20px;
    background: var(--primary-color);
    border-radius: 5px;
    height: 350px;
    text-align: center;
}

.sell__car-img img{
    object-fit: cover;
    width: 70%;
}

.sell__car-img h2{
    color: var(--heading-color);
    text-align-last: left;
}

.sell__car-img h2{
    color: var(--heading-color);
}

.sell__car-top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.tracking__history{
    padding: 20px;
    border-radius: 5px;
    background: var(--primary-color);
    height: 350px;
    padding-bottom: 70px;
}

.tracking__history h3{
    color: var(--heading-color);
    font-weight: 300;
    margin-bottom: 30px;
}

.sell__car-title{
    margin-bottom: 2rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}

.offer__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.offer__item{
    padding: 20px;
    border-radius: 5px;
    background: var(--primary-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
}

.box__01, .client__name{
    font-size: 1.2rem;
    color: var(--heading-color);
    margin-bottom: 20px;
    font-weight: 400;
}

.ave__price{
    color: #ef621f;
    font-size: 1.1rem;
    margin-bottom: 5px;
}

.ave__price span{
    color: #fff;
    font-size: 0.7rem;
}

.market__price{
    color: #ddd;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.arrow__key{
    width: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #ef621f;
    border-radius: 20px;
}


.box__02{
    height: 80px;
    width: 80px;
}

.circle__wrapper h4{
    color: var(--heading-color);
    font-weight: 400;
    font-size: 1rem;
    margin-top: 15px;
}


.model__spend-icon{
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #252525;
    color: #2484ff;
    margin-bottom: 10px;
}

.spend__amount{
    font-size: 1.1rem;
    color: #2484ff;
    margin-bottom: 10px;
}

.spend__title{
    font-size: 0.8rem;
    font-weight: 400;
    color: #ddd;
}


.box__04 .model__spend-icon{
    background: #252525;
    color: #ef621f;
}

.box__04 .spend__amount{
    color: #ef621f;
}